CHANNEL_URL=https://www.youtube.com/@karltondennis/shorts
CLIPFLOW_API=http://localhost:4000
TG_TOKEN=YOUR_TG_TOKEN
TG_CHAT_ID=YOUR_TG_CHAT_ID
COOKIES_FILE=/path/to/cookies.txt
POSTIZ_API_KEY=YOUR_POSTIZ_API_KEY
POSTIZ_TIKTOK_ID=YOUR_POSTIZ_TIKTOK_INTEGRATION_ID
